/* .faq { */
    /* background-color: #e7e7e7;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    width: 350px;
    justify-self: center;
    margin-top: 1vh; */
/* } */
.faq .helpHeaders {
    padding: 3px;
    border: none;
    border-radius: 5px;
    display: block;
    font-weight: bold;
    margin-bottom: 8px;
    color: #494949;
    background-color: rgb(185, 185, 185);
  }
  .faq #questions {
    background-color: #e7e7e7;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    width: 350px;
    justify-self: center;
    margin-top: 1vh;
  }
