@import url("https://fonts.googleapis.com/css2?family=Bitcount+Grid+Single:wght@100..900&family=Edu+NSW+ACT+Cursive:wght@400..700&family=Pixelify+Sans:wght@400..700&family=Quicksand:wght@300..700&family=Stack+Sans+Text:wght@200..700&display=swap");

.archiveContainer {
  align-items: center;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-family: "Quicksand", sans-serif;
}

.archiveTask {
  background-color: #e8e8e8;
  border: 2px solid #737373;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);

  min-width: 75%;
  margin-top: 10px;
  margin-bottom: 10px;
}

.archiveTitle {
  font-size: 3vh;
  color: #3f3f3f;
  font-family: "Quicksand", sans-serif;
}
.taskDetail {
  font-size: 2vh;
  height: 1.5vh;
}

.taskHeader {
  background-color: rgb(185, 185, 185);
  padding: 1% 3%;
  display: flex;
  align-content: center;
  border-radius: 5px;
  flex-wrap: wrap;
  color: white;
  font-weight: bold;
  max-height: 30px;
}

.timeArchived {
  font-size: 1.5vh;
}
.archiveTitle {
  justify-self: center;
}

.taskDetails {
  color: #737373;
}

.taskDetails li {
  margin: 0.5em 0;
}

.taskName {
  font-size: 2vh;
}

.taskList h3.taskName {
  font-weight: bold;
  color: #333;
  /* margin-bottom: 5px; */
}

.taskList p {
  color: #737373;
  margin: 3px 0;
}

.taskList small {
  color: #b3b3b3;
  font-size: 0.8em;
}

.deleteBtn {
  display: flex;
  justify-content: flex-end;
  gap: 0.5rem;
  background-color: #b2b2b2;
  border: none;
  color: #fffbfb;
  padding-top: 0.8vh;
  padding-bottom: 1vh;
  border-radius: 0.3rem;
  padding-left: ;
  margin-left: 50vw;
  font-weight: bold;
  font-size: 2vh;
  width: 20vw;
  height: 4vh;
  text-align: center;
  justify-content: center;
}

.deleteBtn:hover {
  background-color: #fefefe;
  color: #656565;
}

.TopNav {
  position: sticky;
  top: 0;
}
/* 
.taskList {
  text-align: left;
} */

.taskFooter {
  display: flex;
  justify-items: center;
  align-items: center;
  padding-right: 2vw;
  padding-left: 10vw;
  font-size: 0.8em;
  color: #737373;
}

/* .taskFooter .taskArchivedDate {
  font-weight: normal;
} */
