.friends-container {
  
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.friends-title {
  font-size: 1.8rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.friend-form {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 20px;
}

.friend-form input {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 10px;
}

.add-btn {
  background-color: darkgrey;
  color: white;
  border: none;
  padding: 8px 14px;
  border-radius: 10px;
  cursor: pointer;
}

.friends-list {
  list-style: none;
  width: 100%;
  max-width: 1000px;
  padding: 0;
}

.friend-item {
  background: #f5f5f5;
  border-radius: 12px;
  margin: 6px 0;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.friend-item .deleteBtn {
  background: black;
  color: white;
  border: none;
  padding: 6px 8px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 0.9rem;
}
