.headers {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: xx-small;
}

.header1 {
  width: 50%;
  align-items: center;
  border: 2px solid;
  border-color: black;
  border-left: 100%;
  text-align: center;
  font-size: larger;
  border-top: none;
}

.header2 {
  width: 50%;
  align-items: center;
  color:black;
  border: 2px solid;
  border-color: black;
  text-align: center;
  font-size: larger;
  border-top: none;
  border-left: none;
  text-decoration: none;
}

body {
  font-family: sans-serif;
}

.container {
  display: flex;
  align-items: flex-end;
}

.container.podium {
  justify-content: center;
  margin-top: 2rem;
  margin-bottom: 3rem;
}
.podium__item {
  width: 200px;
}

.podium__city {
  font-weight: bold;
  font-size: 20px;
}

.podium__rank {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 35px;
  color: #fff;
}

.podium__city {
  text-align: center;
  padding: 0 0.5rem;
}

.podium__number {
  width: 27px;
  height: 75px;
}

.podium .first {
  min-height: 300px;
  background: grey;
  border: 1px solid;
  border-color: black;
  border-radius: 5px;
}

.podium .second {
  min-height: 200px;
  background: grey;
  border: 1px solid;
  border-color: black;
  border-radius: 5px;
}

.podium .third {
  min-height: 100px;
  background: grey;
  border: 1px solid;
  border-color: black;
  border-radius: 5px;
}

.level {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 0;
}

.level-up {
  position: relative;
  width: 80%;
  max-width: 800px;
  min-width: 250px;
  height: 2.5vw;
  min-height: 25px;
  background-color: lightgrey;
  border: 2px solid black;
  border-radius: 20px;
  overflow: hidden;
}

.myBar {
  height: 100%;
  background-color: grey;
  color: white;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: clamp(0.8rem, 1vw, 1rem);
  transition: width 0.5s ease;
  width: 80%;
  z-index: 1;
}

.level-number-circle {
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 2.5vw;
  height: 2.5vw;
  min-width: 25px;
  min-height: 25px;
  background-color: grey;
  color: white;
  font-weight: bold;
  border: 2px solid black;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
}

.fire-icon {
  width: 50px;
  height: 50px;
  margin-right: 10px;
  justify-content: flex;
}

.streaks {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
.streaks-number {
  position: relative;
  top: 15px;
  left: -40px;
}

.streaks-text {
  font-size: x-large;
  margin-right: 10px;
}
