.headers {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header1,
.header2 {
  width: 50%;
  text-align: center;
  font-size: larger;
  border: 2px solid black;
  border-top: none;
}

.header1 {
  border-right: none;
}

.header2 {
  color: black;
  text-decoration: none;
}

body {
  font-family: sans-serif;
}

.container {
  display: flex;
  align-items: flex-end;
}

.container.podium {
  justify-content: center;
  gap: 2rem;
  margin: 2rem 0 3rem 0;
}

.podium__item {
  width: 200px;
  text-align: center;
}

.podium__city {
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 10px;
}

.podium__rank {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 35px;
  color: #fff;
  height: 100%;
  border-radius: 5px;
  border: 1px solid black;
}

.first { min-height: 300px; background: grey; }
.second { min-height: 200px; background: grey; }
.third { min-height: 100px; background: grey; }

.level {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.level-up {
  position: relative;
  width: 80%;
  max-width: 800px;
  height: 28px;
  background: lightgrey;
  border: 2px solid black;
  border-radius: 20px;
  overflow: hidden;
}

.myBar {
  height: 100%;
  background: grey;
  color: white;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: width 0.5s ease;
}

.level-number-circle {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background: grey;
  border: 2px solid black;
  color: white;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}

.streaks {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.fire-icon {
  width: 50px;
  height: 50px;
}

.streaks-number {
  font-size: 30px;
  margin: 0 10px;
}

.streaks-text p {
  font-size: x-large;
  margin: 0;
}
