
.header-content {
  color: #8da5af;
}

.header-content:hover {
  color:#768990 !important;
}
.title {
  font-size: 2rem;
  font-weight: 700;
  padding-bottom: 15px;
}

.row.header {
  display: grid;
  grid-template-columns: 70px 1fr 120px 100px;
  padding: 12px 20px;
  background: #ececff;
  border-radius: 10px;
  font-weight: 700;
  margin-bottom: 10px;
  background-color: #c6e9fccc;
}

#leaderboardRows {
  margin-top: 10px;
}

#leaderboardRows .row {
  display: grid;
  grid-template-columns: 70px 1fr 120px 100px;
  padding: 14px 20px;
  background-color: #b7d6e2;
  margin-bottom: 10px;
  border-radius: 12px;
  align-items: center;
  transition: 0.15s ease;
}

.leaderboard-wrap {
  padding-left: 3vw;
  padding-right: 3vw;
}

#leaderboardRows .row:hover {
  transform: translateY(-2px);
}

.score, 
.level {
  text-align: right;
  font-weight: 700;
}

.row div:first-child {
  text-align: center;
  font-weight: 900;
  font-size: 1.2rem;
}


