.header-content {
  color: #8da5af;
}

.header-content:hover {
  color: #768990 !important;
}
.title {
  font-size: 2rem;
  font-weight: 700;
  padding-bottom: 15px;
}

.row.header {
  display: grid;
  grid-template-columns: 15% 45% 20% 20%;
  padding: 12px 20px;
  background: #ececff;
  border-radius: 10px;
  font-weight: 700;
  margin-bottom: 10px;
  align-items: center;
  background-color: #acc6d5cc;
}

#leaderboardRows {
  margin-top: 10px;
}

#leaderboardRows .row {
  display: grid;
  grid-template-columns: 10% 50% 20% 20%;
  padding: 14px 20px;
  background-color: #d8e8ef;
  margin-bottom: 10px;
  border-radius: 12px;
  align-items: center;
  transition: 0.15s ease;
}

.leaderboard-wrap {
  padding-left: 3vw;
  padding-right: 3vw;
  padding-top: 3vh;
}

#leaderboardRows .row:hover {
  transform: translateY(-2px);
}

.score,
.level {
  text-align: right;
  font-weight: 700;
}

.row div:first-child {
  text-align: center;
  font-weight: 900;
  font-size: 1.2rem;
}

.who {
  font-size: 1.5vh;
  color: #5c6d8c;
  font-weight: bold;
  padding-right: 4.5vw;
  
}

.meta {
  font-size: 1.5vh;
}
