@import url("https://fonts.googleapis.com/css2?family=Bitcount+Grid+Single:wght@100..900&family=Edu+NSW+ACT+Cursive:wght@400..700&family=Pixelify+Sans:wght@400..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bitcount+Grid+Single:wght@100..900&family=Edu+NSW+ACT+Cursive:wght@400..700&family=Pixelify+Sans:wght@400..700&family=Quicksand:wght@300..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bitcount+Grid+Single:wght@100..900&family=Edu+NSW+ACT+Cursive:wght@400..700&family=Pixelify+Sans:wght@400..700&family=Quicksand:wght@300..700&family=Stack+Sans+Text:wght@200..700&display=swap");

body {
  font-family: "Stack Sans Text";
  margin: 0;
  height: 100%;
  width: 100%;
  background-color: rgb(230, 230, 230);
}

.loginform {
  background-color: rgb(184, 184, 184);
  width: 100%;
  height: 100%;
}

body,
html {
  height: 100%;
  margin: 0;
}

.back-button-container {
  width: 100%;
}
.back-button {
  height: 4vh;
  position: flex;
  left: 0;
}

main {
  height: 100%;
  display: table;
  width: 100%;
  transform: translateY(-5%);
}

#login-form {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

.login-fieldset {
  display: inline-block;
  text-align: left;
  padding: 3vh 2vh 7vh 2vh;
}

.logo {
  font-size: 4.5vh;
  text-align: center;
}
/* login fieldset */

.login-fieldset {
  background-color: white;
  width: 60%;
  margin: auto;
  justify-items: center;
  border: none;
  border-radius: 10px;
  padding-top: 3vh;
  padding-bottom: 7vh;
}

.login-fieldset p:nth-child(2) {
  font-weight: bold;
  font-size: 3vh;
}
.login-fieldset p:nth-child(3) {
  margin-top: -2vh;
  padding-bottom: 2vh;
  font-size: 1.5vh;
  color: rgb(110, 110, 110);
}

.login-fieldset input,
.login-fieldset a {
  display: block;
  margin: 0.25vh;
  text-align: left;
}

#signin {
  text-align: center;
  font-weight: bold;
  background-color: rgb(24, 46, 78);
  color: white;
}

.login-fieldset input {
  padding: 1vh;
  width: 80%;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.login-fieldset a {
  text-decoration: none;
  color: rgb(86, 128, 165);
  font-weight: bold;
}

.login-fieldset input[type="checkbox"],
.login-fieldset input[type="checkbox"] + span,
.login-fieldset input[type="checkbox"] + span + a {
  display: inline-block;
  vertical-align: middle;
  margin: 0.6vh 0.6vh 0.6vh 0;
}

.login-fieldset input[type="checkbox"] {
  width: auto;
  padding: 0;
  border: none;
  box-sizing: content-box;
}

.login-fieldset input[type="checkbox"] + span {
  line-height: 1;
}

.login-fieldset input[type="checkbox"] + span + a {
  margin-left: 1vh;
  text-decoration: none;
  cursor: pointer;
}

.login-fieldset {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.checkbox-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  margin: 1vh 0;
}

.checkbox-row input[type="checkbox"] {
  margin-right: 0.5em;
}

.checkbox-row span {
  margin-right: auto;
}
