@import url("https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");

#appName {
  font-family: "Cedarville Cursive", cursive;
  font-size: 40px;
  margin: 0; /* Remove extra space */
  margin-top: 5px;
}

#welcome {
  font-family: "Playfair Display", serif;
  font-size: 50px;
  margin: 0;
}

.welcomeMessage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.bg-info {
  background-color: #5fdd9d !important;
  width: 100%;
  height: 75px;
}

.footer-img {
  max-width: 48px;
  filter: invert(100%);
}

.To-Do-label {
  font-size: 10px;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.pet-label {
  font-size: 10px;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.leaderboard-label {
  font-size: 10px;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.container-fluid {
  background-color: #5fdd9d;
  width: 100%;
  height: 75px;
  margin-top: -6px;
}
.navbar-brand {
  color: white !important;
  font-size: 25px;
  font-weight: bold;
}

.nav-link {
  color: white !important;
  font-size: 15px;
}
